<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Confirm</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want delete this?</p>
        </div>
        <div class="modal-footer buttons ">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-green-flat bold-text" ng-click="cancel()">Cancel</button>
        </div>
</script>
<script type="text/ng-template" id="connectToApicTemp.html">
<div class="template">
	Step 1: Please choose a previously on-boarded APIC-EM from the Drop Down list. If you don't see an APIC-EM in the drop down list, you may have to onboard an APIC-EM to this  App. <br/>
	Step 2: Enter APIC-EM User Name<br/>
	Step 3: Enter APIC-EM Password<br/>
	Step 4: Hit "Connect"<br/>
</div>
</script>
<script type="text/ng-template" id="onboardApicTemp.html">
<div class="template">
	Use this step to On-board and APIC-EM to the App.<br />
   	Step 1: Choose IP or DNS Address provided by the Administrator<br />
    Step 2: Enter the IP / DNS Address provided<br />
    Step 3: Enter the Version of the APIC-EM (XX.X to XX.x) will be V0 and beyond (XX.X) will be V1<br />
    Step 4: Enter a Location name for the APIC-EM.<br />
    Step 5: Hit "Onbaord" to see the onboarded APIC-EM on the Right side window
</div>
</script>
<script type="text/ng-template" id="preOnboardApicTemp.html">
<div class="template">
	Use this step to On-board and APIC-EM to the App.<br />
   	Step 1: Choose IP or DNS Address provided by the Administrator<br />
    Step 2: Enter the IP / DNS Address provided<br />
    Step 3: Enter the Version of the APIC-EM (XX.X to XX.x) will be V0 and beyond (XX.X) will be V1<br />
    Step 4: Enter a Location name for the APIC-EM.<br />
    Step 5: Hit "Onbaord" to see the onboarded APIC-EM on the Right side window
</div>
</script>

<div class="breadcrumb_box">
	<div class="btn-group btn-breadcrumb2">
		<!-- <a ng-click="logout()" class="btn btn-primary" style="cursor: default;"><i
			class="glyphicon glyphicon-home"></i></a>  -->
			<a ng-href="#/apicemlogin" class="btn btn-info">Onbaord APIC-EM</a>
	</div>
</div>

<div class="row" ng-controller="ApicEMLoginController"
	style="margin-top: 20px;">

	<div class="row">
		<div class="col-md-5"> <!--  col-md-offset-4 -->

			<div class="panel panel-info">
				<div class="panel-heading notbdr notbg">
					<h3 class="panel-title">
						<msg key="connectToApicem"></msg>
						<img popover-trigger="click" popover-placement="bottom" popover-template="temp.connect" class="icoHelp" alt="" src="img/Help.png">
					</h3>
				</div>
				<div class="panel-body">
					<form class="form form-horizontal" ng-submit="apicemLogin()"
						name="apicLoginForm" id="apicLoginForm">										
						<div class="form-group">
						
							<label class="control-label col-md-3" for="apicemIp"><msg
									key="apicemIP"></msg></label>
							<div class="col-md-6">
								<select class="form-control" ng-model="selectedApicem"
									id="apicemIp" name="apicemIp"
									ng-options="item.apicemIP as item.apicemIP for item in allApicEms">
								</select>

								<!-- <ui-select ng-model="selectedApicem" theme="select2" ng-disabled="disabled" style="min-width: 300px;">
						    <ui-select-match placeholder="Select a APIC EM...">{{$select.selected.apicemIP}}</ui-select-match>
						    <ui-select-choices repeat="item in allApicEms | propsFilter: {apicemIP: $select.search, location: $select.search}">
						      <div ng-bind-html="item.apicemIP | highlight: $select.search"></div>
						      <small>
						        IP: {{item.apicemIP}}
						        Location: {{item.location}}
						      </small>
						    </ui-select-choices>
						  </ui-select> -->
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-3" for="username"><msg
									key="username"></msg></label>
							<div class="col-md-6">
								<input class="form-control" id="username"
									ng-model="apicUsername" placeholder="APIC EM Username"
									required="required" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3" for="password"><msg
									key="password"></msg></label>

							<div class="col-md-6">
								<input class="form-control " type="password" id="password"
									placeholder="APIC EM Password" ng-model="apicPassword"
									required="required" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-3 col-md-6 buttons">
                                <button type="submit" class="btn btn-blue-flat bold-text">
                                    <msg key="connect"></msg>
                                </button>
							</div>
						</div>
								
                        <alert ng-show="isError" type="danger">{{errorMsg}}</alert>
					</form>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="divider">&nbsp;</div>
		</div>

		<div class="col-md-12">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading panel-heading1">
						<h3 class="panel-title">
							<msg key=onborardApicem></msg>
							<img popover-trigger="click" popover-template="temp.onboard" class="icoHelp" alt="" src="img/Help.png">
						</h3>
					</div>
					<div class="panel-body">
						<form class="form form-horizontal" ng-submit="onboardApicEm()"
							name="onboardForm" id="onboardForm">						
							<div class="form-group">
								<label class="control-label col-md-5" for="apicemType"><msg
										key="apicemType"></msg></label>
								<div class="col-md-6">
									<select class="form-control" ng-model="onboardType"
										id="onboardType" name="onboardType"
										ng-options="item.name for item in onBoardTypelist" ng-init="onboardType = onBoardTypelist[0]">
									</select>
								 </div>
							</div>

							<div class="form-group">
								<label ng-show="onboardType.type=='IP'" class="control-label col-md-5" for="apicemIp"><msg
										key="apicemIP"></msg></label>
								<label ng-show="onboardType.type=='DNS'" class="control-label col-md-5" for="apicemDS"><msg
										key="apicemDS"></msg></label>
										
								<div class="col-md-6">
									<input ng-show="onboardType.type=='IP'" class="form-control" ng-model="newApicIP"
										placeholder="APIC EM IP" required="required"
										ng-blur="changeIp()" />
									<input ng-show="onboardType.type=='DNS'" class="form-control" ng-model="newApicIP"
										placeholder="APIC EM DNS" required="required"
										ng-blur="changeIp()" />
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-5" for="Version"><msg
										key="version"></msg></label>
								<div class="col-md-6">
									<select class="form-control" id="version" name="version"
										ng-model="newApicVersion" placeholder="APIC EM Version"
										required>
										<option value="v0">V0</option>
										<option value="v1">V1</option>
									</select>
									<!-- 	<span class="error" ng-show="onboardForm.version.$dirty && onboardForm.version.$invalid">Select Version</span> -->
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-5" for="location"><msg
										key="location"></msg></label>
								<div class="col-md-6">
									<input class="form-control" id="location" ng-model="location"
										placeholder="APIC EM Location" required="required" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-5 col-md-6 buttons">
                                    <button type="submit" class="btn btn-blue-flat bold-text">
                                        <msg key="onborard"></msg>
                                    </button>
								</div>
							</div>							
							<alert ng-show="isError2" type="danger">{{errorMsg2}}</alert>	
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading panel-heading1 notplr">
						<h3 class="panel-title">
							<msg key="previouslyOnboarded"></msg>
							<img popover-trigger="click" popover-template="temp.preOnboard" class="icoHelp" alt="" src="img/Help.png">
						</h3>
					</div>
					<div class="panel-body dataTables_wrapper notplr">

						<!-- <div class="col-md-12">
							<div class="input-group col-md-12">
								<input type="text" class="form-control" ng-model="q"
									placeholder="Search for apicems...">
							</div>
						</div>
						<div class="clearfix" style="margin-bottom: 5px;">&nbsp;</div> -->
						<table class="table table-bordered table-hover table-condensed">
							<thead>
								<tr style="font-weight: bold;">
									<th style="width: 30%" ng-click="orderBy('apicemIP')"
										ng-class="orderIcon('apicemIP')">IP Address</th>
									<th style="width: 15%" ng-click="orderBy('apicemType')"
										ng-class="orderIcon('apicemIP')">Type</th>
									<th style="width: 15%" ng-click="orderBy('version')"
										ng-class="orderIcon('version')"><msg key="version" /></th>
									<th style="width: 15%" ng-click="orderBy('location')"
										ng-class="orderIcon('location')">Location</th>
									<th style="width: 25%">Edit</th>
								</tr>
							</thead>
							<tbody>
								<tr
									dir-paginate="item in allApicEms | filter:q | orderBy:order |itemsPerPage: 5">
									<td>
										<!-- <a ng-click="setSelectedApicEm(item.apicemIP)"> </a> -->
										<span editable-text="item.apicemIP" e-name="apicemIP"
										e-form="rowform"
										e-required> {{ item.apicemIP }} </span>
									</td>
									<td><span editable-select="item.version" e-name="version"
										e-form="rowform"
										e-ng-options="s.value as s.text for s in versions">
											{{item.version | uppercase}} </span></td>
									<td><span editable-select="item.apicemType" e-name="apicemType"
										e-form="rowform"
										e-ng-options="s.type as s.type for s in onBoardTypelist">
											{{item.apicemType}} </span></td>
									<td title="{{item.location}}"><span
										editable-text="item.location" e-name="location"
										e-form="rowform" e-required> {{item.location}} </span></td>
									<td style="white-space: nowrap">
										<!-- form -->
										<form editable-form name="rowform"
											onbeforesave="saveApicEMIP($data,item.id)"
											ng-show="rowform.$visible" class="form-buttons form-inline"
											shown="inserted == user">
											<button type="submit" ng-disabled="rowform.$waiting"
												class="btn btn-primary">save</button>
											<button type="button" ng-disabled="rowform.$waiting"
												ng-click="rowform.$cancel()" class="btn btn-default">
												cancel</button>
										</form>
										<div class="buttons" ng-show="!rowform.$visible">
											<button class="btn btn-primary bg-grey" ng-click="rowform.$show()">Edit</button>
											<button class="btn btn-green-flat bold-text" ng-click="deleteApicemIP(item.id,$index)">Delete</button>
										</div>
									</td>
								</tr>
								<tr ng-if="allApicEms && allApicEms.length === 0">
									<td colspan="5" align="center" style="color: RED"><b><msg
												key="noapicemsfound" />.</b></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="5" class="text-center"><dir-pagination-controls
											class="ng-isolate-scope"></dir-pagination-controls>
											<alert ng-show="isError3" type="danger">{{errorMsg3}}</alert>
											<alert ng-show="isSuccess3" type="success">{{successMsg3}}</alert>		
								</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	<!--<h3>Frequently asked questions:</h3>

<h4>Why am I not able to connect to my APIC-EM?</h4>

<p>Answer: The reason might be that APIC-EM version you have selected is incorrect. Contact your Administrator for the right version of the APIC-EM or for correct user credentials.</p>  -->	
					
	</div>
</div>


