<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Confirm</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want delete this?</p>
        </div>
        <div class="modal-footer buttons ">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-green-flat bold-text" ng-click="cancel()">Cancel</button>
        </div>
</script>
<script type="text/ng-template" id="connectToApicTemp.html">
<div class="template">
	Step 1: Please choose a previously on-boarded APIC-EM from the Drop Down list. If you don't see an APIC-EM in the drop down list, you may have to onboard an APIC-EM to this  App. <br/>
	Step 2: Enter APIC-EM User Name<br/>
	Step 3: Enter APIC-EM Password<br/>
	Step 4: Hit "Connect"<br/>
</div>
</script>
<script type="text/ng-template" id="onboardApicTemp.html">
<div class="template">
	Use this step to On-board and APIC-EM to the App.<br />
   	Step 1: Choose IP or DNS Address provided by the Administrator<br />
    Step 2: Enter the IP / DNS Address provided<br />
    Step 3: Enter the Version of the APIC-EM (XX.X to XX.x) will be V0 and beyond (XX.X) will be V1<br />
    Step 4: Enter a Location name for the APIC-EM.<br />
    Step 5: Hit "Onbaord" to see the onboarded APIC-EM on the Right side window
</div>
</script>
<script type="text/ng-template" id="preOnboardApicTemp.html">
<div class="template">
	Use this step to On-board and APIC-EM to the App.<br />
   	Step 1: Choose IP or DNS Address provided by the Administrator<br />
    Step 2: Enter the IP / DNS Address provided<br />
    Step 3: Enter the Version of the APIC-EM (XX.X to XX.x) will be V0 and beyond (XX.X) will be V1<br />
    Step 4: Enter a Location name for the APIC-EM.<br />
    Step 5: Hit "Onbaord" to see the onboarded APIC-EM on the Right side window
</div>
</script>
<div id="page-wrapper" >
<div class="breadcrumb_box">
	<div class="btn-group btn-breadcrumb2">
		<!-- <a ng-click="logout()" class="btn btn-primary" style="cursor: default;"><i
			class="glyphicon glyphicon-home"></i></a>  -->
			<a ng-href="#/apicemlogin" class="">Connect to APIC-EM</a>
	</div>
</div>

<div class="row" ng-controller="ApicEMLoginController"
	style="margin-top: 20px;">

	<div class="row">
		<div class="col-md-5"> <!--  col-md-offset-4 -->

			<div class="panel panel-info">
				<div class="panel-heading notbdr notbg">
					<h3 class="panel-title stitle">
						<msg key="connectToApicem"></msg>
						<img popover-trigger="click" popover-placement="bottom" popover-template="temp.connect" class="icoHelp" alt="" src="img/Help.png">
					</h3>
				</div>
				<div class="panel-body">
					<form class="form form-horizontal normal" ng-submit="apicemLogin()"
						name="apicLoginForm" id="apicLoginForm">										
						<div class="form-group">
						
							<label class="control-label col-md-3" for="apicemIp"><msg
									key="apicemIP"></msg></label>
							<div class="col-md-7">
							<div class="selection"
                                     select-tabs items='allApicEms'
                                     itemobj
                                     itemval="apicemIP"
                                     itemdisp="apicemIP"
                                     selected='selectedApicem'
                                     itemplaceholder="APIC EM Version" ></div>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-3" for="username"><msg
									key="username"></msg></label>
							<div class="col-md-7">
								<input class="form-control" id="username"
									ng-model="apicUsername" placeholder="APIC EM Username"
									required="required" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3" for="password"><msg
									key="password"></msg></label>

							<div class="col-md-7">
								<input class="form-control " type="password" id="password"
									placeholder="APIC EM Password" ng-model="apicPassword"
									required="required" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-3 col-md-7 buttons">
                                <button type="submit" class="btn btn-blue-flat bold-text" style="padding: 7px 12px;margin:0px;">
                                    <msg key="connect"></msg>
                                </button>
                                <a href="#/apicemnew" class="btn btn-border tcolor pull-right">Add New APIC-EM </a>
							</div>
						</div>
								
                        <alert ng-show="isError" type="danger">{{errorMsg}}</alert>
					</form>
				</div>
			</div>
		</div>		
	<!--<h3>Frequently asked questions:</h3>

<h4>Why am I not able to connect to my APIC-EM?</h4>

<p>Answer: The reason might be that APIC-EM version you have selected is incorrect. Contact your Administrator for the right version of the APIC-EM or for correct user credentials.</p>  -->	
					
	</div>
</div>
</div>


