<div class="breadcrumb_box">
	<div class="btn-group btn-breadcrumb2">
		<!-- <a ng-click="logout()" class="btn btn-primary" style="cursor: default;"><i
			class="glyphicon glyphicon-home"></i></a> --> <a ng-href="#/apicemlogin"
			class="">Onbaord APIC-EM</a> <a ng-href="#/devices"
			class="">Inventory</a><a ng-href="#/manageexcel"
			class="">Manage Excel</a>
	</div>
</div>

<div class="page-header notbdr notpd">
	<h1>
		<msg key="excelDetails" />
	</h1>
</div>
<div class="panel panel-primary">
	<div class="panel-heading notbg notbdr notplr col-sm-12">
		<!-- <div class="pull-right">
			<Strong><msg key="date" ></msg></Strong>: {{currentDate | date:'medium'}}
		</div> -->
		<h3 class="panel-title stitle col-sm-6 notplr">
						<msg class="tcolor" key="excelDetails"></msg>
				&nbsp;&nbsp;<img popover-trigger="click" popover="EXCEL FILES DETAIL" class="icoHelp" alt="" src="img/Help.png">
		</h3>
	</div>
	<!-- <div class="panel-heading">
		<div class="pull-right">
			<Strong><msg key="date" /></Strong>: {{currentDate | date:'medium'}}
		</div>
		<msg key="excelDetails" />
		<div class="pull-right">
			<img src="img/Help.png" alt="" class="icoHelp"  popover="EXCEL FILES DETAIL"  popover-trigger="click" />
		</div>
	</div> -->
	<form class="form form-inline">
		<div class="row">
			<div class="col-md-12">
				<div class="details_inventory_search pl">					
					<div class="col-md-5 notplr">
						<input type="text" class="form-control pl22 " ng-model="q" style="width: width:100%;"
								placeholder="Search for date..."/>
						<label class="glyphicon glyphicon-search searchTop"></label>
					</div>

					<div class="col-md-3 pull-right">
						<label class="col-sm-8 mt7"><msg key="itemsPerPage" /> : </label>
						<div class="col-sm-4 notplr">
						<div class="selection" 
                                     select-tabs items="itemPerPages"
                                     itemobj
                                     itemval="val"
                                     itemdisp="text"
                                     selected='itemsPerPage'
                                      >
                                   </div>
                             </div>
						 <!-- <select
							class="form-control" style="width: 40%; display: inline;"
							ng-model="itemsPerPage">
							<option value="5">5</option>
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="30">30</option>
							<option value="50">50</option>
							<option value="100">100</option>
							<option value="{{devices.length}}">All</option>
						</select> -->
					</div>
				</div>
				<div class="clearfix" style="margin-bottom: 10px;">&nbsp;</div>
				<div class="table-responsive" id="deviceTable">
					<table class="table table-striped table-condensed table-hover">
						<tbody>
							<tr class="">
								<td ng-click="orderBy('filename')" width="30%" title="click to sort"><msg
										key="efileName" /><span ng-class="orderIcon('filename')" /></td>
								<td ng-click="orderBy('createdDate')" width="20%" title="click to sort"><msg key="ecreatedDate" /><span
									ng-class="orderIcon('createdDate')" /></td>								
								<td width="12%" title="click to sort"><msg key="action" />&nbsp;&nbsp;<img src="img/Help.png" alt="" class="icoHelp"  popover="Click Grid Title to Sort"  popover-trigger="click" style="width:17px;" /></td>
							</tr>
							<tr
								dir-paginate="file in files | filter:q | orderBy:order | itemsPerPage: itemsPerPage ">
								<td>{{file.filename}}</td>
								<td>{{file.createdDate | date:'longDate'}}</td>								
								<td><a
									class="btn btn-primary btn-md"
									ng-click='exportToExcel(file.id, file.filename)'><msg
											key="exporttoexcel" /> </a></td>
							</tr>
							<tr ng-if="files && files.length === 0">
								<td colspan="6" align="center" style="color: RED"><b><msg
											key="noExcelFilesFound" />.</b></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6" class="text-center"><dir-pagination-controls
										class="ng-isolate-scope" /></td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</form>
</div>
