<div class="breadcrumb_box">
	<div class="btn-group btn-breadcrumb">
       <a ng-href="#/login" class="btn btn-primary" style="cursor:default;"><i class="glyphicon glyphicon-home"></i></a>
       <a ng-href="#/apicemlogin" class="btn btn-primary">Onbaord APIC-EM</a>
       <a ng-href="#/devices" class="btn btn-primary">Inventory</a>
       <a ng-href="#/device/{{dType}}/{{platformId | urlEncode}}" class="btn btn-primary">Replaceable Device</a>
       <a ng-href="#/products/{{qty}}/{{dType}}/{{selectedItem | urlEncode}}" class="btn btn-info">Products</a>
    </div>
</div>
<div class="page-header">
	<h1><msg key="productsList"></h1>
	
	<div class="row">
		<div class="col-md-11">
		<tags-input ng-model="tags" display-property="text"  on-tag-removed="tagRemoved($tag)"
		placeholder="Tags" replace-spaces-with-dashes="false">
<!-- 	<auto-complete source="loadQuestions($query)" min-length="0"
		load-on-focus="true" load-on-empty="true" max-results-to-show="32"
		template="my-custom-template"></auto-complete>  --></tags-input>

	<script type="text/ng-template" id="my-custom-template">
      <div>
        <span ng-bind-html="$highlight($getDisplayText())"></span>
      </div>
    </script>
	</div>
	<div class="col-md-1" style="line-height:2.8em;"><a ng-click="clearQuestions()"><strong>Clear All</strong></a></div>
	</div>
	
	
</div>
<div id="page-wrapper">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-info">
				<div class="panel-heading" style="background-color:#f5f5f5; border-right:1px solid #ddd;"><msg key="filter"></div>
				<!-- /.panel-heading -->
				<div style="border-right:1px solid #ddd; height:780px;">
					<div>
						<table width="100%" border="0" class="table1 table filter_fonts noborder">
							<tbody ng-repeat="item in questions">
								<tr>
									<th class="noborder"><input type="{{item.type}}"
										ng-click="questionSelected(item.id)"
										ng-model="item.checked" ng-value="'true'" /></th>
									<th>{{item.question}}</th>
								</tr>
								<tr ng-if="item.checked && item.options.length >0">
									<td colspan="2" class="noborder"><select
										class="form-control" ng-model="item.selectedOtion"
										ng-change="questionSelected(item.id)"
										ng-options="option as option for option in item.options" /></td>
										<!-- 	<label>
									<input
											type="{{item.type}}" name="{{item.name}}"
											ng-click="questionSelected(item.id,option.value,item.type)"
											ng-value="'true'" ng-model="option.isUserAnswer">
											&nbsp;{{option.value}}</input></label> -->
								</tr>
							</tbody>
							
						</table>
					</div>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!--   Quantity: {{qty}} Date {{currDate}}-->

		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-heading"><msg key="recommendedProducts"></div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table1">
							<tbody ng-repeat="product in replacableProducts">
								<tr>
									<td width="27%" rowspan="3"><img ng-src="img/{{product.imageURL}}" alt="{{product.description}}" style="width:200px; height: 100px;"/></td>
									<td width="61%" class="ques_heading">{{product.productId}}</td>
									<td width="12%" colspan="3">&nbsp;</td>
								</tr>
								<tr>
									<td>{{product.description}}</td>

									<td colspan="3" align="left" valign="middle"><strong style="font-size:12px;">Price : </strong><font style="font-size:22px;"><span id="currency-default">{{product.price | currency}}</span></font></td>

								</tr>
								<tr>
									<td><a href="#">Data sheet Link</a></td>
									<td colspan="3" align="center" valign="middle"><button
											class="btn btn-primary" ng-click="selectedProduct(product)">
											<msg key="replace" />
										</button></td>
								</tr>
							</tbody>
							<tbody ng-if="replacableProducts.length === 0">
								<tr>
									<td colspan="5" align="center" style="color: RED"><b><msg
												key="noDeviceFound" />.</b></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="5" class="text-center"></td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
				<!-- /.panel-body -->
			</div>
		</div>

	</div>

</div>
