  <div id="page-wrapper">
        	<div class="container">
            	<div class="row">
                <div class="col-lg-12">
                    <div class="row">
                       <div class="col-md-8 language">
                    	<label class="col-md-2 notplr mt7">Language :</label>
                        <div class="col-md-8 set-lang">
                        <div class="selection" ng-init="setLanguage ={text:'English',val:'en'}"
                                     select-tabs items="[{text:'English'}]"
                                     itemobj
                                     onselectedchange="setLanguage()"
                                     itemval="val"
                                     itemdisp="text"
                                     selected='setLanguage'
                                     itemplaceholder="Select language" selectedobj></div>
                            </div>
                        <!-- <select class="select_box form-control">
                            <option><a ng-class="(language() == 'en')?'btn-primary':''"
                            ng-click="setLanguage('en')">English</a></option> -->
                            <!-- <option><a ng-class="(language() == 'ja')?'btn-primary':''"
                            ng-click="setLanguage('ja')">日本語</a></option> -->
                        </select>
                       </div>
                   </div>
                </div>
               
            </div>
             <!-- /language section -->
            
            <div class="row" ng-controller="ForgotController">
            	<div class="col-md-8">
                	<div id="login" class="box-padded">
                    	<h3><msg key="ciscoAppForgot"></msg> <img src="img/Help.png" alt="" class="icoHelp"  popover="CISCO APP FORGET PASSWORD"  popover-trigger="click" /></h3>
                        <form role="form" name="forgotFm" class="buttons form-horizontal" ng-submit="forgot()" novalidate>
                            <div class="form-group" ng-class="{ 'error': forgotFm.email.$invalid }">
                            	<label for="recipient-name" class="control-label col-sm-2">User Email:</label>
                                <div class="col-sm-10">
                                	<input class="form-control" placeholder="User Email" name="email" type="email" ng-model="email" autofocus required="required">
                                </div>	
                            </div>
                            <div class="form-group">
	                             <label for="message-text" class="control-label col-sm-2"></label>
	                              <div class="col-sm-10">
		                            <button type="submit" ng-click="forgot()" class="btn btn-blue-flat bold-text">
		                                <msg key="ciscoAppForgot"></msg>
		                            </button>
		                            <button type="button" ng-click="login()" class="btn btn-border bold-text">
		                                    <msg key="backToLogin"></msg>
		                           </button>
	                              </div>
                            </div>
                        </form>
                       <div class="clearfix">&nbsp;</div>
                       <alert ng-show="isError" type="danger">{{errorMsg}}</alert>                        
                       <alert ng-show="isSuccess" type="success">{{successMsg}}</alert>
                    </div>
                </div>
                <div class="col-md-4">
                	<aside id="register">
                        <div class="box-padded">
                          <h3>Network Assessment Application</h3>
                          <p>This application connects to your existing APIC-EM to discover netwok devices within specified IP range specified in the hosted application. Where the user would get an opportunity to replace existing network devices intelligently based  on criteria specified in the application.</p>
                          <p>(This is a sample text only)</p>
                        </div>
                      </aside>
                </div>
            </div>
            
            </div>
        </div>