  <div id="page-wrapper">
        	<div class="container">
            	<div class="row">
                <div class="col-lg-12">
                    <h1 class="pagetitle"><msg key="register"></h1>
                    <div class="row">
                    	<div class="col-md-12 language">
                    	<label>Language :</label>
                        <select class="select_box form-control">
                        	<option><a ng-class="(language() == 'en')?'btn-primary':''"
							ng-click="setLanguage('en')">English</a></option>
							<!-- <option><a ng-class="(language() == 'ja')?'btn-primary':''"
							ng-click="setLanguage('ja')">日本語</a></option> -->
                        </select>
                       </div>
                   </div>
                </div>
               
            </div>
             <!-- /language section -->
                <div class="row" ng-controller="SignUpController">
                    <div class="col-md-8">
                        <div id="login" class="box-padded">
                        	<img src="img/Help.png" alt="" class="icoHelp"  popover="CISCO APP Register"  popover-trigger="click" />
                            <h3><msg key="register"></h3>
                            <form role="form" name="userForm" class="buttons" novalidate>                               
                                <div class="form-group" ng-class="{ 'error': userForm.username.$invalid }">
                                    <label for="recipient-name" class="control-label">User Name:</label>
                                    <input class="form-control" placeholder="User Name" name="username" type="text" ng-model="username" required="required">
                                </div>
                                <div class="form-group" ng-class="{ 'error': userForm.email.$invalid}">
                                    <label for="recipient-name" class="control-label">User Email:</label>
                                    <input class="form-control" placeholder="User email" name="email" type="email" ng-model="email" required="required">
                                </div>
                                <div class="form-group" ng-class="{ 'error': userForm.password.$invalid}">
                                    <label for="message-text" class="control-label">Password:</label>
                                    <input class="form-control" ng-model="password" placeholder="Password" name="password" ng-minlength="3" type="password" value="" required="required">
                                </div>
                                <div class="form-group" ng-class="{ 'error': userForm.confirm_password.$invalid || password != confirm_password}">
                                    <label for="message-text" class="control-label">Confirm Password:</label>
                                    <input class="form-control" ng-model="confirm_password" placeholder="Confirm Password" ng-minlength="3" name="confirm_password" type="password" value="" required="required">
                                </div>
                                <button type="button" ng-click="signUp()" class="btn btn-blue-flat bold-text">
                                    <msg key="signUp"></msg>
                                </button>
                                <button type="button" ng-click="login()" class="btn btn-blue-flat bold-text">
                                    <msg key="backToLogin"></msg>
                                </button>
                            	<div class="clearfix">&nbsp;</div>
                            	
                        		<alert ng-show="isError" type="danger">{{errorMsg}}</alert>                        
                        		<alert ng-show="isSuccess" type="success">{{successMsg}}</alert>
                                
                            </form>
                            <div class="clearfix">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <aside id="register">
                            <div class="box-padded">
                                <h3>User Registration</h3>
                                <p>This Page allow user creation/registration. Based on User session rest of the thing will be tracked.</p>
                                <p>(This is a sample text only)</p>
                            </div>
                        </aside>
                    </div>
                </div>
            
            </div>
        </div>